*{margin:0;padding:0;box-sizing:border-box}
body{font-family:Montserrat,sans-serif}
.content{height:100vh;background-image:url(../images/2528.jpg);background-size:cover}
.title{color:#ffff;font-style:italic;margin-top:50px}
.quoteContent{width:800px;height:120px;border:2px solid beige;border-inline:0;margin-block:10px;color:#ffff;font-weight:400;font-size:25px;padding:10px;position:relative}
.newQuote{font-size:20px;color:#8b4513}
#newQuotebtn{border:2px solid #fff;color:#ffff}
#newQuotebtn:hover{background-color:#faebd7;color:#d2691e}